*.d
*.exe
*.o
nodegl-env/
MoltenVK*
shaderc*
/sxplayer*
*.gcda
*.gcno
ngl-cov/
cmake-build-debug
pynodegl/*.pyd
pynodegl/*.dll
pynodegl/*.pdb
pynodegl-utils/build
pynodegl-utils/dist/*.egg
external/win64
external/sxplayer-*
CMakeLists.txt.user
