/builddir*
venv/
.venv-done
MoltenVK*
shaderc*
/sxplayer*
/external/windows
/external/linux
/external/darwin
/external/stb
/external/json
/external/pkgconf*
ngfx/cmake-build-debug
/shader-tools/cmake-build-debug
ngl-debug-tools/cmake-build-debug
CMakeLists.txt.user
**/.DS_Store
*.xcworkspace
