/builddir
nodegl-env/
MoltenVK*
shaderc*
/sxplayer*
/external/win64
/external/linux
/external/darwin
/external/stb
/external/json
ngfx/cmake-build-debug
/shader-tools/cmake-build-debug
ngl-debug-tools/cmake-build-debug
CMakeLists.txt.user
*.cflags
*.config
*.creator
*.creator.user
*.cxxflags
*.files
*.includes

